@import "purecss";
@import "pure-extras";
@import "./modules/vars";
@import "font-awesome";
@import "responsive-grids";

body {
  background: var(--color-back);
  color:var(--color-front);
  margin:50px;
}
body * {
      box-sizing: border-box;
}
.app {
    inherit: .pure-g;
}
.btn-add {
    inherit: .pure-button;
    inherit: .pure-button-primary;
    inherit: .pure-button-small;
}
@import "./modules/checkout";
@import "./modules/product-listing";
@import "./modules/top-bar";
@import "./modules/tables";