body {
    font-family: sans-serif;
    color: #777; 
}
form {
    padding:15px;
    margin:15px;
}
.header {
     min-height: 80px;
     margin: 0;
     color:#fff;
     padding: 50px 20px 30px;
     text-align: center;
     border-bottom:1px solid #eee;
    h1 {
        margin: 0.2em 0;
        font-size:3em;
        color: rgb(77, 77, 77);
        font-weight: 100;
    }
    h2 {
        font-weight:300;
        margin:0;
        color: rgb(184, 184, 184);
    }
}
h1,h2,h3,h4,h5,h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", sans-serif;
    font-weight: 300;
}
.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom:50px;
    h1 {
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    h2 {
        color:rgb(75, 75, 75);
        margin:50px 0 20px 0;
        font-weight:bold;
    }
    p {
        line-height: 1.6em;
        font-size: 115%;
    }
}
#headerMenu {
    &, & ul { 
        background: #111;
    }

    a:hover {
        background: #222;
        border-color: #222;
    }
    a {
        color: #fff;
        text-shadow: none;
    }
    .yui3-menu-active {
        background: #222;
    }
}

@media (max-width: 767px) {
    #headerMenu {
        position: relative;
    }
    #headerMenu ul {
        text-align: center;
    }
    #headerMenu a {
        font-size:80%;
    }

    .content {
        width: 95%;
    }
}

/******************************************************************
Theme Name: Mobilia v3.0
Theme URI: http://themes.shopify.com/themes/mobilia/styles/tokyo?ref=out-of-the-sandbox
Author: Out of the Sandbox (http://outofthesandbox.com)
Description: Shopify Theme (http://www.shopify.com/?ref=out-of-the-sandbox)
******************************************************************/
/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Typography
  #Links
  #Lists
  #Menu
  #Images
  #Videos
  #Buttons
  #Tabs
  #Forms
  #Tables
  #Misc
  #Site Styles 
  #FlexSlider 
  #FancyBox
  #Layout
  #Font-Face */
  
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
  
    
/* #Basic Styles
================================================== */

/* Missy added to edit para links (theme doesn't give option to) */


p a:link {text-decoration:underline; }
p a:link.action_button {text-decoration:none; }



/* END --- Missy added to edit para links (theme doesn't give option to) */


  body { 
    background-color: #ffffff;
    
      background-image: url("//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/custom_bg.png?1820");
      
        background-repeat:no-repeat;
        background-attachment:fixed; 
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
      
    

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    
      font-family: Helvetica, Arial, sans-serif;
      
    font-weight: normal;      
    font-size: 14px; 
    text-transform: none;
    color: #616059;
    line-height: 1.7em;
}
::-moz-selection {
       background-color: #000;
       color: #fff;
}
::selection {
  background: #FFF7B6;
  color: black;
}
abbr {
  border-bottom: 1px dotted #d7d4d3;
} 
/* #Typography
================================================== */
  .logo {   
    
      font-family: "Anton";
      
    
    font-weight: normal;      
    font-size: 42px; 
    text-transform: uppercase;
    color: #b6a673;
  }
  .logo a, .logo a:hover, .logo a:visited, .logo a:active {
    color: #b6a673;    
    line-height: 45px;
  }
h1, h2, h4, h5, h6, .collection_title, .headline, p.subtitle { 
    
      font-family: "Anton";
      
    font-weight: bold;    
    text-transform: uppercase;
    color: #141003;
    display:block;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .collection_title { font-weight: inherit; }
h1 a, h1 a:visited, .collection_title a, .collection_title a:visited { color: #141003 }
h1 a:hover, h1 a:active, .collection_title a:hover, .collection_title a:active { color: #000000 }
h1, .h1, h1.home, h2.title, .collection_title { font-size: 30px;  line-height: 1.5em; margin: 0 auto 20px; clear:both; font-weight: bold;}
h1.home { margin: 0 auto 15px; border-top: 1px solid #d7d4d3; border-bottom: 1px solid #d7d4d3; padding: 12px 0;  }
h1.product_name { margin-bottom: 15px; }
h2, .h2 { font-size: 26px; margin-bottom: 0.75em }
/*missy took away h3 from theme settings in order to change the css here. must put h3 back into 2nd style down under #typography to put back into theme editing */
h3, .h3, h1.blog_title { font-size: 16px; font-family:Helvetica, Arial, sans-serif; color:#62A5CC; line-height: 35px; margin: 0 auto 15px 0; text-align: left; font-weight:bold; }
h1.collection_title, div.collection_title { margin-bottom: 0; line-height: 30px; display: inline; }
h1.collection_title_tags, div.collection_title_tags { padding-right: 25px; border-right: solid 1px #d7d4d3; }
h4, .h4, h4.title a { font-size: 18px; line-height: 32px; margin: 0 0 10px 0; text-align: left; padding: 0; border-bottom: 1px solid #d7d4d3; padding-bottom:8px;}
h4.title a { border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}
h5, .h5 { font-size: 18px; padding-bottom: 1em; }
h5.sub_title { padding-bottom: 5px; }
h6, .h6 { font-size: 16px; padding-bottom: 1em;}
.footer h6 { color: #d9d9d9; }
.subheader { color: #777; }
p { margin: 0 0 15px; font-style: normal; line-height: 1.7em; }
p img { margin: 0; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 90%; }
h7 {font-size:16px; color:#78AED1; font-weight:bold; }

/*  Blockquotes  */
  blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #d7d4d3; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
hr { border: solid #d7d4d3; border-width: 1px 0 0; clear: both; margin: 12px 0; height: 0; }
.quote {
     font-size: 16px;
     line-height: 22px;
     text-align: center;
     margin: 0 0 20px 0;
     font-style: italic;
  }
/* #Links
================================================== */
  a, a:visited { /*missy added*/ text-decoration:underline; color: #000000; text-decoration: none; outline: 0; -webkit-transition: color .1s linear; -moz-transition: color .1s linear; -o-transition: color .1s linear; -ms-transition: color .1s linear; transition: color .1s linear; }
a:hover, a:focus { color: #79c5e8; }
/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; }
  ul { list-style: circle outside; }
  ol { list-style: decimal; }
  ul, ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  ul.none { list-style: none outside; margin-left: 0;}
  ul.border {
    list-style: none outside;
    line-height: 26px;
  }
  ul.border li {
    border-bottom: 1px solid #d7d4d3;
    list-style: none outside none;
    padding: 12px 0;
    margin-bottom: 0;
  }
  ul.chirp {
    margin-left: 0
  }
  ul.chirp .meta a {
    color: #6e6c6a;
  }

/* #Menu
================================================== */

.header div.header_border {
  border-bottom: solid 1px #d7d4d3;
  padding-bottom: 15px;
}
.homepage {
  padding-bottom: 15px;
}
.nav {
  text-align:right;
}
.nav ul {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0;
    margin: 0;
}
.nav ul li {
    display: inline-block;
    padding: 0 0 0 20px;
    position: relative;
    margin: 0;
    border: 0;
}
.nav ul li {
  *display: inline;
}
.nav ul li a, .nav ul li a:visited, .nav ul li a:active {
    
      font-family: "Open Sans Condensed";
      
    font-weight: normal;      
    font-size: 18px; 
    text-transform: uppercase;
    color: #62a5cc;
    position: relative;
    display:block;
    letter-spacing: 0px;
    padding-bottom: 10px;
}
.nav ul li a.active, nav ul li a.active:visited, nav ul li a.active:active {
  color: #43413c;
}
.nav ul.search_nav {
  margin-bottom: 170px;
 
  /*MISSY changed this ^^^ to seperate top and bottom nav*/
}
.nav ul li a:hover, nav ul li a:focus {
  color: #343434;
}
.nav ul li.current_page_item a {
  color: #343434;
}
.nav ul li.current_page_ancestor a {
  color: #343434;
} 
.nav ul.menu {
  display: inline;
}  

.nav ul li a.cart, .nav ul li a.navicon, input[type="submit"].guest_button {
/*missy hiding the cart*/  visibility:hidden;
    
    background: url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/cart_dark.png?1820') no-repeat 9px 7px;
  

  padding: 5px 10px 5px 30px;
  border: solid 1px #d7d4d3;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
 
}

input[type="submit"].guest_button, input[type="submit"].guest_button:hover {
  background: none;
  color: #000000;
  padding: 8px 20px 8px 10px;
}

.nav ul li a.cart.active {
  color: #43413c;
  border-color: #343434;
}

.nav ul li a.cart:hover, .nav ul li a.cart.active:hover {
  background-position: 9px -43px;
  color: #343434;
}

ul.menu li.navicon_button {
  display: none;
}
ul.menu li a.navicon {
    
    background: url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/menu_dark.png?1820') no-repeat 9px 6px;
  
  padding-left: 35px;
}

ul.menu li a.navicon:hover {
  background-position: 9px -96px;
}

/* sub-levels link */
.menu ul a, .menu li:hover > ul a  {
  padding: 10px 0 10px 15px;
  background: none;
  text-align: left;
}

/* sub-level ul */
.menu ul {
  position: absolute;
  left: 10px;
  top: 25px;
  background-color: #ffffff;
  border: solid 1px #ddd;
  border-bottom-color: #bbb;
  z-index: 100;
  display: none;
  width: 200px;
}
ul.menu ul li {
  display: block;
  border-bottom: solid 1px #f4f4f4;
  text-align:left;
  padding: 0;
}
.menu ul li a {
  display:block;
}
/* sub-sub-level dropdown */
.menu ul ul {
  left: 200px;
  top: -1px;
}
/* show dropdown ul on hover */
.menu li:hover > ul {
  display: block;
}

.toggle_menu {
  position: relative;
  overflow: hidden;
  display: none;
  top: -16px;
}



ul.top_menu {
  padding-top: 10px;
}

ul.top_menu li a, ul.top_menu li a:visited, ul.top_menu li a:active {
  font-size: 12px;
  color: #b4b2a4;
}

ul.top_menu li a:hover {
  color: #343434;
}
.mobile_menu_container {
  display: inline;
}
.nav ul.mobile_menu {
  background-color: #1B1B1B;
  margin-bottom: 1em;
  clear: both;
}

.nav ul.mobile_menu li {
  border: none;
  text-align: left;
  display: block;
  border-top: 1px solid #313335;
  padding-left: 0
}

.nav ul.mobile_menu .search_box {
  margin: 6px 0 6px 20px;
  width: 85%;
}

.nav ul.mobile_menu li a {
  color: #9DA0A4;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: block;
  padding: 10px 0 10px 20px;
}

.nav ul.mobile_menu li ul li a {
  padding-left: 40px;
}

.nav ul.mobile_menu li ul ul li a {
  padding-left: 60px;
}

.nav ul.mobile_menu li.active, .mobile_menu li:hover{
  background-color: #111;
}

.nav ul.mobile_menu li.active a, .nav ul.mobile_menu li a:hover {
  color: #fff;
}

.container div.collection_nav {
  border-bottom: solid 1px #d7d4d3;
  padding-bottom: 15px;
  margin-bottom: 1.5em;
}
.collection_menu, .collection_menu li {
  display: inline;
  list-style: none;
  border: none;
  position: relative;
  top: -3px;
  margin: 0;
}
.collection_menu li {
  padding-left: 25px;
}

.collection_menu li a, .sidebar a {
  color: #62a5cc;
}

.collection_menu li span.active, .sidebar li.active a {
  color: #43413c;
}

.collection_menu li a:hover, .collection_menu li span.active:hover, .sidebar a:hover {
  color: #343434;
}

/* #Images
================================================== */
/*
  The purpose of the below declaration is to make sure images don't 
  exceed the width of columns they are put into when resizing window. 
  Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
  so the best solution is to individually call these properties on images that 
  are children of the grid that you want to resize with grid. 
*/
  .product_row img, .product_image_col img, .article img, .blog_content img, .section img, .thumbnail img, .logo img, .page img, .sidebar img { 
    max-width: 100%;
    height: auto; }
.zoomImg {
    max-width: inherit !important;
    cursor: pointer;
  } 
    
/* #Videos
================================================== */
/*
  For YouTube and Vimeo videos, wrap the embedded code snippet
  in a <div class="video-container"> tag to allow it to resize.
  To restrict the width, wrap with an additional <div class="video-wrapper">
*/
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,  
  .video-container object,  
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-wrapper {
    width: 600px;
    max-width: 100%;
  }
/* #Buttons
================================================== */
  
a.button, 
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"], 
  .action_button, 
  a.action_button, 
  input.action_button[type="submit"], 
  input.action_button[type="button"] {
    background: #343434;
    color: #FFFFFF;
    border: 0;
    padding: 8px 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    
      font-family: "Open Sans Condensed";
      
    font-weight: normal;      
    font-size: 18px; 
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -ms-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    -webkit-appearance: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  a.button:hover, 
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .action_button:hover, 
  input.action_button[type="submit"]:hover, 
  input.action_button[type="button"]:hover {
    background: #666666;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -ms-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
  }

  a.button:active, 
    button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {

    }

/* #Tabs
================================================== */


  ul.tabs { 
    display: block;
    margin: 10px 0 10px 0;
    padding: 0;
    border-bottom: solid 1px #d7d4d3;
    border-top: 0;
    list-style: none outside; 
    margin-left: 0;
}
ul.tabs li { 
    display: block;
    width: auto;
    height: 30px;
    padding: 0;
    float: left;
    margin-bottom: 0;
    border: 0;
    list-style: none outside; 
    margin-left: 0;
}
ul.tabs li a { 
    display: block; 
    text-decoration: none;
    width: auto; 
    height: 29px; 
    padding: 0px 20px; 
    line-height: 30px; 
    border: solid 1px #d7d4d3;
    border-width: 1px 0 0 1px; 
    margin: 0;  
    background: #f9f9f9;
    font-size: 13px; }
ul.tabs li a.active { 
    
      background-color: #ffffff;
    
    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-right-width: 1px;
    margin: 0 -1px 0 0;
    color: #111;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
ul.tabs li:first-child a {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px; }
ul.tabs li:last-child a {
    border-width: 1px 1px 0 1px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
ul.tabs-content { margin: 0; display: block; border: 0;}
ul.tabs-content > li { display:none; border: 0;}
ul.tabs-content > li.active { display: block; border: 0;}
  
  /* Clearfixing tabs for beautiful stacking */
  ul.tabs:before,
  ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
ul.tabs:after {
    clear: both; }
ul.tabs {
    zoom: 1; }
    
/* #Forms
================================================== */
  form { 
    margin-bottom: 20px; }
fieldset { 
    margin-bottom: 20px; }
input[type="text"], 
  input[type="number"],
  input[type="password"],
  input[type="email"],
  textarea, 
  select {
    border: 1px solid #ccc;
    padding: 9px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    margin: 0;
    width: 200px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; 
    appearance: none;}
select {  
    background: #f9f9f9 url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/select.png?1820) no-repeat right center;
    cursor: pointer;
    -webkit-padding-end: 30px; 
}
input[type="number"] {
  padding: 5px;
}
input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus, 
  textarea:focus {
    border: 1px solid #aaa;
    color: #333;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
label,
  legend { 
    display: block;
    font-weight: normal;
    margin-bottom: 4px; }
input[type="checkbox"] {
    display: inline; }
label span,
  legend span {
    font-weight: normal;
    font-size: 13px; }
textarea {
    width: 95%;
  }

#contact_email {
  width: 230px;
  display: inline;
}

#sign_up {
  margin-left: 10px;
}

#customer input[type="text"],
#customer input[type="email"],
#customer input[type="password"] {
  width: 93%;
}

/* #Tables
================================================== */


  table a:link {
    color: #666;
    font-weight: bold;
   text-decoration:underline;
  }
  table a:visited {
      color: #999999;
      font-weight:bold;
      text-decoration:none;
    }
  table a:active,
    table a:hover {
      color: #bd5a35;
      text-decoration:underline;
    }
  table {
      color:#666;
      text-shadow: 1px 1px 0px #fff;
      background:#eaebec;
      border:#ccc 1px solid;
      margin-bottom: 20px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      border-radius:2px;
    }
  table img {
      max-width: inherit !important;
    }
  table th {
      padding:15px 20px;
      border-top:1px solid #ccc;
      border-bottom:1px solid #e0e0e0;
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
      background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
    }
  table th:first-child{
      text-align: left;
      padding-left:20px;
    }
  table tr:first-child th:first-child{
      -moz-border-radius-topleft:3px;
      -webkit-border-top-left-radius:3px;
      border-top-left-radius:3px;
    }
  table tr:first-child th:last-child{
      -moz-border-radius-topright:3px;
      -webkit-border-top-right-radius:3px;
      border-top-right-radius:3px;
    }
  table tr{
      padding-left:12px;
    }
  table tr td:first-child{
      text-align: left;
      padding-left:12px;
      border-left: 0;
    }
  table tr td {
      padding:12px;
      border-bottom:1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      background: #fafafa;
      background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
      background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
    }
  table tr td.value input {
      margin-bottom: 0;
    }
  table tr.even td{
      background: #f6f6f6;
      background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
      background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
    }
  table tr:last-child td:first-child{
      -moz-border-radius-bottomleft:3px;
      -webkit-border-bottom-left-radius:3px;
      border-bottom-left-radius:3px;
    }
  table tr:last-child td:last-child{
      -moz-border-radius-bottomright:3px;
      -webkit-border-bottom-right-radius:3px;
      border-bottom-right-radius:3px;
    }
  table tr:hover td{
      background: #f2f2f2;
      background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
      background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
    }


table tr.order_summary td.label { text-align: right;}

/* #Misc
================================================== */
.remove{ color: #616059; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.right { float:right; position: relative; }
.left { float: left; }
.center { text-align: center; }
.relative { position: relative; }
.align_right { text-align:right }
.align_left { text-align: left; }
.container div.mobile_only { display:none; }
.no_border { border: none !important; }
.extra_padding { padding-top: 4px; }
div.hidden { display: none; }
#grid .column,
  #grid .columns {
    background: #ddd;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     border-radius: 2px; }
#grid .column:hover,
  #grid .columns:hover {
    background: #bbb;
    color: #333; }
#grid .example-grid { overflow: hidden; }
/* #Site Styles
================================================== */
  div.container {
      margin: 0 auto;
      padding: 20px 0;
  }
  div.content {
    padding: 15px 20px 0px 20px;
    
      background-color: #ffffff;
    
  }
  .logo a {
    margin: 0;
    padding-top: 5px;
    display:block;
  }
  div.section {
     margin: 10px 0;
  }
  .homepage_content {
    
      background-color: #e7e6e1;
      border-top: solid 1px #ffffff;
      border-bottom: solid 1px #ffffff;
    
 
  max-width:940px;
  margin:0 auto;
  border-left:30px solid #fff;
  border-right:30px solid #fff;
  

  }
  div.product_section {
    margin: 5px 0;
  }
  .breadcrumb {
    margin-bottom: 1em;
  }
  #category {
    width: 100%;
  }
  .featured_content p {
    margin-bottom: 0;
  }
  .paginate {
    text-align:center;
  }
  .paginate span,  a.tag {
    border: solid 1px #d7d4d3;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 2px; 
    padding: 5px 10px;
    display: inline-block;
  }
  a.tag {
    font-size: smaller;
    padding: 4px 6px;
    margin: 5px 2px 5px 0;
  }
  .featured_collections { margin-bottom: 10px }
  .paginate span:hover, a.tag:hover {
    color: #79c5e8;
  }
  .paginate .current {
    background-color: #f2f2f2;
  }
  .paginate .deco {
    border: none;
  }
  .thumbnail {
    position: relative;
    text-align:center;
    margin-bottom: 1em;
  }
.thumbnail a {
    display:block;
    padding-bottom:0.5em;
    color: #616059;
  }
.thumbnail a:hover {
    color: #000000;
  }
  .new {
    position: relative;  
    display: inline;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
  }
  .thumbnail img {
    margin-bottom: 0.75em;
  }
  .thumbnail .price, .thumbnail .sold_out, .sold_out {
    font-weight: bold;
    color: #616059;
  }
  .thumbnail .sale, .sale {
    color: #343434;
  }
  .sale_banner, .new_banner {
    position: absolute;
    top: 0;
    background: #666666;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .new_banner {
    background: #666666;
  }
  .thumbnail .price, .thumbnail .title {
    display: block
  }
  .cart_price {
    float: right;
    text-align: right;
    padding-left: 20px;
    font-weight:bold;
    display: none;
  }
  #estimated-shipping, .excluding_tax {
    display: block;
  }
  .cart_image {
    float:left;
    margin-right: 20px;
  }
  .quantity_label {
    display: none;
  }
  .price_total_text {
    font-weight: normal;
    display: none;
  }
  .was_price {
    text-decoration: line-through;
    color: #6e6c6a;
    font-style: italic;
    text-shadow:none;
    font-weight:normal;
  } 
  .thumbnail .quick_shop {
    display:none;
    padding: 5px 0;
    background-color: #888;
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .thumbnail .quick_shop:hover {
    color: #FFFFFF;
    background-color: #343434;
  }
  .thumbnails a {
    display:block;
    margin-bottom: 1em;
  }
  .twittercont, .fancycount {
    display: inline-block;
    margin-left: 6px;
  }
  .facebookcont {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    min-width: 88px;
  }
  a.fancybutton {
    background:url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/fancy.png?1820) no-repeat;
    font:11px Arial,sans-serif;
    text-indent:-9999em;
    font-size:.01em;
    color:#cd1f1f;
    height:20px;
    width:56px;    
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -20px;
  }
  a.pinterestcount {
    background:url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/pinit.png?1820) no-repeat;
    font:11px Arial,sans-serif;
    text-indent:-9999em;
    font-size:.01em;
    color:#cd1f1f;
    height:20px;
    width:41px;
    background-position:0 0;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -20px;
  }
  a.pinterestcount:hover{
    background-position:0 -21px;
  }
  a.pinterestcount:active{
    background-position:0 -42px;
  }
  .arrow {
    font-size: smaller;
    position: relative;
    top: -1px;
    left: 2px;
    opacity: 0.6;
  }
  .modal {
    margin: 10px 0;
    display: none;
    background-color: #ffffff;
  }
  .modal_product {
    width: auto;
    line-height:0px;
    max-width: 940px;
  }
  .modal_product img {
    cursor: pointer;
  }
  .modal_image {
    text-align:center;
  }
  .modal a {
    padding-bottom: 0;
  }
  .modal p.modal_price, p.modal_price {
    font-size: 22px;
    margin-bottom: 1em;
  }
  .modal form {
    margin-bottom: 10px;
  }
  .modal a {
    color: #000000;
    font-style: italic;
  }
  .modal a:hover {
    color: #79c5e8;
  }
  .notify_form .submit {
    padding: 8px 8px !important;
  } 
  .product_image_col {
    margin-top: 15px;
    text-align:center;
  }
  .meta {
    font-size: 13px;
  }
  .meta p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  p.meta {
    margin-bottom: 10px;
  } 
  .comment-body p.meta {
    margin-bottom: 5px;
  }
  .sidebar_title {
    margin-bottom: 0;
  }
  .blog_list {
    margin-left: 0
  }
  .blog_list li {
    list-style: none;
    padding-left: 0;
  }
  .toggle span {
    color: #6e6c6a;
    font-weight:bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:smaller;
    float: right;
    display: none;
  }  
  .sidebar p {
    font-size: 13px;
  }
  .sidebar .search {
    padding-top: 8px;
  }
  .sidebar .search input {
    width: 100%; 
    box-sizing: border-box; 
    -moz-box-sizing:border-box;
  }  
  .meta .label, .label {
    color: #6e6c6a;
  }
  .blog_meta, .blog_meta a {
    color: #6e6c6a;
  }
  .blog_meta a:hover {
    color: #79c5e8;
  }
  .blog_meta p {
    padding-right: 40px;
  }
  .container .blog_content {
    padding-left: 40px;
    border-left: solid 1px #d7d4d3;
  }
  .count {
    font-style: normal;
    font-size: 13px;
  }
  #tag_filter { 
    margin-bottom: 0;
    float: right;
    width: auto;
    display: none;
  }
  .checkout {
    display:block;
    float:right;
    margin-top: 0px;
  }
  .or {
    font-size:smaller;
    font-style: italic;
    padding: 0 10px;
  }
  input.quantity {
    width: 35px;
    display: inline;
    margin-bottom: 1em;
  }
  .inline_purchase {
    display: inline-block;
    margin-left: 20px;
  }

  .subtotal {
    text-align:right;
  }
  .mobile_left {
    text-align: right;
  }
  h4.title a.subscribe {
    background: url("//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/rss-icon.png?1820") no-repeat 0 4px;
    display: inline;
    padding: 5px 10px 5px 32px;
    font-size: smaller;
  }
 h4.title a.subscribe:hover {
    background-position: 0 -121px;
  }
  h4.title a.twitter {
    background: url("//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/twitter-icon.png?1820") no-repeat 0 4px;
    display: inline;
    padding: 5px 0px 5px 32px;
    font-size: smaller;
  }
  h4.title a.twitter:hover {
    background-position: 0 -121px;
  }
  div.article { 
    margin-bottom: 35px;
  }
  .comment {
    margin-bottom:20px;
  }
  .comment-body h6 {
    padding-bottom: 0.25em;
  }
  .social_buttons {
    height: 22px;
  }
  .gravatar { 
    width: 100px !important;
  }
  .gravatar img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
  }
  .red {
    color: #C33;
  }
  .address p {
    margin-bottom: 5px;
  }
  div#disqus_thread ul, div#disqus_thread li {
      border: none;
  }
  .search_page {
    padding: 40px 0 60px 0;
  }
  .search_page_text {
    text-align: right;
  }
  .tweet .columns {
    overflow: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
/* #Footer
================================================== */
  div.footer {
    background-color: #616161;
    
    
      border-top: solid 1px #4a4a4a;
    

    font-size: 13px; 
    line-height: 1.7em;
    color: #dededb;
    padding: 10px 0;
    margin-top: 15px;
  }
  .footer p {
    margin-bottom: 10px;
  }
  .footer a {
    color: #cfcfcf;
  }
  .footer a:hover {
    color: #f7f7f7;
  }
  .contact-form {
    margin-bottom: 0;
  }
  form.search {
    margin-bottom: 0px;
  }
  input.search_box {
    padding: 6px 6px 6px 28px;
    background: #fff url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/search.jpg?1820) no-repeat 6px;
    border: solid 1px #d7d4d3;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0px;
  }
  .search_box:focus {
    background-color: #fff;
  }
  .payment_methods {
    margin: 4px 0 6px 0;
  }
  .payment_methods img {
    padding-right: 4px;
    height: 24px;
    width: 40px;
  }
  .credits_right {
    text-align: right;
  }
  .icons {
    list-style: none outside; 
    margin-left: 0;
    border: 0;
  }
  .headline_icons {
    top: 8px;
  }
  .icons li {
    border: 0;
    float: left;
    line-height: 24px;
    margin-right: 8px;
    padding-top: 0;
  }
  .icons li a {
      
      background: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/icons_light.png?1820) no-repeat;
    
    display: inline-block;
    opacity: 0.8;
    -webkit-transition: opacity .2s ease-in-out; 
    -moz-transition: opacity .2s ease-in-out; 
    -o-transition: opacity .2s ease-in-out; 
    transition: opacity .2s ease-in-out;
    cursor: pointer;
    text-indent: -9999px;
    width:25px;height:25px;background-position:left bottom;
    }
  .headline_icons li a, .cart_icons li a {
    background: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/icons.png?1820) no-repeat;
  }
  .icons li a:hover {
    background-color:transparent;
    opacity: 1;
  }
  
  .icons .twitter a{background-position:-25px bottom}
  .icons .facebook a{background-position:-50px bottom}
  .icons .vimeo a{background-position:-75px bottom}
  .icons .flickr a{background-position:-100px bottom}
  .icons .delicious a{background-position:-150px bottom}
  .icons .linkedin a{background-position:-200px bottom}
  .icons .youtube a{background-position:-225px bottom}
  .icons .google a{background-position:-250px bottom}
  .icons .skype a{background-position:-325px bottom}
  .icons .pinterest a{background-position:-500px bottom}
  .icons .tumblr a{background-position:-625px bottom}
  .icons .instagram a{background-position:-650px bottom}
  .icons .rss a{background-position:-675px bottom}
  .icons .close a{background-position:-700px bottom;position:relative; top:-10px; right: -8px; opacity: 0.6;}

  .footer ul {
    list-style: none outside; 
    margin-left: 0;
  }
  .footer li {
    padding: 6px 0;
    list-style: none outside none;
    margin-bottom: 0;
  }
  .footer ul.footer_menu li:first-child {
    margin-left: 0;
    padding-top: 0;
  }

/* #jQuery FlexSlider v2.1
================================================== */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav, .flex-direction-nav li {margin: 0; padding: 0; list-style: none; border: none;} 
ul.slides li {border:none; padding: 0; margin-bottom: 0; position: relative;}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}
.flexslider .slides img { 
  display: block;
  max-width: 100%; height: auto; margin: 0 auto;
}

  #homepage_slider .slides img {
    width: 100%;
  }
  

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1; clear:both; overflow: hidden}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides li {text-align: center}
.carousel li {margin-right: 5px;border: 0}

.flex-caption {margin:0; width: 100%; position: absolute; top: 25%; color: #fff; text-shadow: 0 1px 2px rgba(0, 0, 0, .7)}
.flexslider .headline { font-size: 56px; margin-bottom: 0.2em; line-height: 61px; font-weight: normal }
.flexslider p.subtitle { font-size: 42px; line-height: 47px; font-weight: normal }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 60px; height: 60px; margin: -20px 0 0; display: block; background: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/arrow_sprite.png?1820) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 0 -120px; right: -36px; }
.flex-direction-nav .flex-prev {background-position: 0 -60px; left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3 !important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {position: absolute; bottom: 20px; right: 3%; width: auto;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  text-indent: -9999px;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; 
}
.flex-control-nav li a.flex-active {
  background: rgba(255,255,255,0.7);
  cursor: default;
}
.flex-control-paging li a:hover { background: rgba(255,255,255,0.7); }
.flex-control-thumbs {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-thumbs li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}

.flex-control-thumbs {position: static; overflow: hidden;}
.flex-control-thumbs li, .flex-control-thumbs li:first-child {width: 22%; vertical-align: top; margin: 15px 4% 0 0;}
.flex-control-thumbs li:nth-child(4n) {margin: 15px 0 0; }
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
#product_slider .flex-active-slide a:hover {cursor: -webkit-zoom-in; cursor: -moz-zoom-in;}

/* #Fancybox
================================================== */
/*! fancyBox v2.1.2 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background-color: #ffffff;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/arrow_sprite.png?1820');
  background-position: 0 -180px;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -306px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
} 

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/fancybox_loading.gif?1820') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 8040;
  background-position: 0 -30px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.gallery .fancybox-close {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
}

.fancybox-close:hover {
  background-position: 0 0;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/blank.gif?1820'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -180px;
}

.fancybox-prev span:hover {
  left: 10px;
  background-position: 0 -60px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -240px;
}

.fancybox-next span:hover {
  right: 10px;
  background-position: 0 -120px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/fancybox_overlay.png?1820);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

/*
 Cloud Zoom CSS. (c)2012 Star Plugins.
*/
.cloudzoom-lens {
  border:none;
  border:1px solid #888;
  width:225px;
  height:175px;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
  cursor:pointer;
  z-index: 10;
}
.cloudzoom-zoom {
  border:1px solid #888;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
  background-color: #ffffff;
}
.cloudzoom-zoom-inside {
  border:none;
  box-shadow:none;
}
.cloudzoom-caption {
  display:none; 
  text-align: left;
  background-color:#000;
  color:#fff;
  font-weight:bold;
  padding:10px;
  font-family: sans-serif;
  font-size:11px;
}
.cloudzoom-blank {
  background-image:url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/blank.gif?1820');
}
div.cloudzoom-ajax-loader {
  background: #000 url('//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/fancybox_loading.gif?1820') center center no-repeat;
  width: 44px;
  height: 44px;
  opacity: 0.6;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.cloudzoom-lens + div { display: none !important }

/*
* Layout
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
    #Media Queries */
/* #Base 960 Grid
================================================== */
    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
     /* Missy adding split columns*/
    .one-half-column-left {width:45%; float:left; padding-left:10px;}
    .one-half-column-right {width:45%; float:right; padding-right:10px;}

    .column-form {
        display:inline-block;
    }
    .one-half-form-left {width:45%; padding-left:10px;}
    .one-half-form-right {width:45%; padding-right:10px;}
 

    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 230px; } /*Missy changed to fit nav in*/
    .container .two-thirds.column               { width: 670px;  background-image:url('http://cdn.shopify.com/s/files/1/0268/9345/files/HomepageTagline.png?937'); background-repeat:no-repeat; background-position:25px 95px; }/*Missy changed to fit nav in and add pic*/

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        .container .logo.column       { width: 200px; }
        .container .nav.column        { width: 90px; margin-left: 10px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }

        .container .logo.column       { width: 200px; }
        .container .nav.column        { width: 210px; margin-left: 10px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
/* #Media Queries
================================================== */
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) { 
    #contact_email {
      width: 170px;
    }
    .collection_menu {
      display: none;
    }
    #tag_filter {
      display: block;
    }
    h1.collection_title_tags, div.collection_title_tags {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
    .cloudzoom-lens {
      width:140px;
      height:120px;
    }
  }
/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .nav ul li { padding: 0 0 0 10px; }
    .flex-caption { top: 0; }
    .or { display: none; }
  }
/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    .toggle span {
      display: block;
    }
    .toggle_list {
      display: none;
    }
    select { 
      width:100%; 
    }
    #contact_email {
      width: 94%;
    }
    .search_page_text {
      text-align: left;
    }
    a.button, 
    button,
    .action_button, 
    a.action_button, 
    textarea {
      width: 85%;
    }

    .flexslider a.action_button {
      width: initial;
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input.action_button[type="submit"], 
    input.action_button[type="button"],
    #sign_up {
      margin-left: 0;
      width: 100%;
    }

    .cart_icons, .or {
      display: none;
    }
    .credits_right {
      text-align: left;
    }
    .container .column.thumbnail, .container .columns.thumbnail {
      margin-top: 1em;
    }
  table[style] {
      width:auto !important;
      max-width:100% !important;
      overflow: hidden;
    }
  tr, td {
      display:block;
      width:99% !important;
      max-width:99% !important;
      padding:0px !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  tr {
    padding-bottom: 6px !important;
  }
  td {
    padding: 4px !important;
  }
  .title_column {
      float:left;
    }
  .subtotal_amount {
      text-align:right;
    }
  .mobile_left {
      text-align:left;
    }
  .container div.mobile_only {
      display:block;
    }
  .quantity_label {
    display: inline;
  }  
  .price_total {
    text-align: right;
  }
  .price_total_text {
    display:block;
  }
  .update_subtotal, .price_total, .remove_column, .checkout_table_header {
      display: none;
    }
  .mobile_right {
      text-align: right;
    }
  .quick_shop {
      display: none !important;
    }
  .cart_price {
    display: block;
    margin-bottom: 0;
  }
  table tr th, table tr td {
      padding: 2px;
    }
  input.action_button {
      margin-bottom: 1em !important;
    }
  .multiple_product_images {
      display: none;
    }
  .flex-caption {
    top: 0;
  }
  .flex-caption .headline {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .flex-caption p.subtitle {
    font-size: 1.1em;
    line-height: 1.1em;
  }
  .container .blog_content {
    padding-left: 0;
    border: 0;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobile_hidden { display: none !important }
    ul.menu li.navicon_button { display:inline-block }
    ul.menu li { padding: 0 0 0 10px; }
    ul.nav_buttons { position: relative; top: 10px }
  }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .mobile_hidden { display: none !important }
    ul.menu li.navicon_button { display:inline-block; }
    ul.menu li a.cart { padding-left: 25px; }
    ul.menu li a.navicon { padding-left: 28px; }
    ul.menu li { padding: 0 }
    ul.nav_buttons { position: relative; top: 10px; text-indent: -1000em; text-align: left }
    .cart_count { display: none;}
    ul.mobile_menu input.search_box { width: 240px !important;}
    .flex-caption .headline, .flex-caption p.subtitle{
        font-size: 1.1em;
        font-height: 1.1em;
      }
    .flex-caption p.subtitle {
      font-size: 0.9em;
      line-height: 0.9em;
      margin-bottom: 0.5em;
    }  
    .flex-caption .action_button {
      padding: 4px 15px;
      font-size: 12px;
    }
    .flex-direction-nav .flex-prev {display: none;}
    .flex-direction-nav .flex-next {display: none;}

    h1, h2, h1.home, h1.blog_title, h3, h4, h5, h6, .title a { 
        font-size: 150%;
      }
    h1, h1.home, h1.blog_title, .title a, h2 {
        padding:0;
      }
}
@media
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 2) {
    ul.menu li a.navicon {
        
        background-image: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/menu_dark2x.png?1820);
      
      background-size: 20px 119px;
    } 
    input.search_box {
      background: #fff url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/search2x.jpg?1820) no-repeat 6px;
      background-size: 14px 14px; 
    }
    .nav ul li a.cart {
        
        background-image: url(//cdn.shopify.com/s/files/1/0268/9345/t/3/assets/cart_dark2x.png?1820);
      
      background-size: 16px 64px;
    }
}

@-moz-document url-prefix() {
  input.search_box {
    position: relative;
    top: 8px;
  }
  .inline_purchase {
    position: relative;
    top: 12px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: 100%;
     }
}

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file.
    Upload your font files to Assets and then
    copy your FontName into code below and remove
    comment brackets */
    
/*  @font-face {
      font-family: 'FontName';
      src: url('FontName.eot');
      src: url('FontName.eot?iefix') format('eot'),
           url('FontName.woff') format('woff'),
           url('FontName.ttf') format('truetype'),
           url('FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
