<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type='text/css' href="/css/pure-min.css"/>
    <link rel="stylesheet" type='text/css' href="/css/style.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
    <div class="container main content"> 
      <div class="sixteen columns">
  
  
  

  <div id="homepage_slider" class="flexslider">
    
    <div class="flex-viewport" style="overflow: hidden; position: relative;"> 

        {{{body}}}
    </div>
 
  </div>
      </div>
 
  </div>
</body>
</html>
