<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type='text/css' href="/css/pure-min.css"/>
    <link rel="stylesheet" type='text/css' href="/css/style.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.15/jquery.form-validator.min.js"></script>
</head>
<body>
    <div class="container main content"> 
        <div class="sixteen columns">
  
  
  

            <div>
              
                  <div> 

                      {{{body}}}
                  </div>

            </div>
        </div>
 
    </div>
</body>
</html>
