
<div>
    Total Paid Customers: {{total customers}} <br/>
    Total Amount Paid: ${{add customers}}.00 <br/>
    Total Donation Amount: ${{donationAdd customers}}.00 <br/>
</div>
<div>
    <h4><a href="/admin/export/customers">Export</a></h4>
<div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Total Amount</th>
            <th>Donation Amount</th>
            <th>Xero Stuff</th>
        </tr>
        <tbody>
            {{#customers}}
                {{#ifNotTest . }}

                <tr>
                    <td>
                        {{first_name}}
                    </td>
                    <td>
                        {{last_name}}
                    </td>
                    <td>
                        {{email}}
                    </td>
                    <td>
                        {{money amount }}
                    </td>
                    <td>
                        {{donationAmount amount }}
                    </td>
                    <td><a href='/admin/full/xero/customers/{{id}}'>Full Xero</a> <br /> 
                        <a href='/admin/shopify/customers/{{id}}'>Shopify</a> <br />
                        <br /><a href='/admin/xero/customers/{{id}}'>Create Xero</a> <a href="/admin/xero/invoice/{{id}}"> Invoice</a>
                </tr>
                {{else}}

                {{/ifNotTest}}
            {{/customers}}
        </tbody>
    </table>
</div>
<br />
<div></div>