<form class="pure-form pure-form-aligned" action="/customers" method="POST">
    <fieldset>
        <div class="clearfix large_form one-half-form-left column-form">
            <label for="first_name">First Name</label> <input id="first_name" name="first_name" type="text" placeholder="First Name"  data-validation="required" />
        </div>
        <div class="clearfix large_form one-half-form-right column-form">
            <label for="last_name">Last Name</label> <input id="last_name" name="last_name" type="text" placeholder="Last Name"  data-validation="required" />
        </div>
        <div class="clearfix large_form large_form one-half-form-left column-form">
            <label for="phone">Phone</label> <input id="phone" name="phone" type="text" placeholder="Phone" data-validation="required" />
        </div>
        <div class="clearfix large_form large_form one-half-form-right column-form">
            <label for="email">Email Address</label> <input id="email" name="email" type="email" placeholder="Email Address" data-validation="required" />
        </div>
        <div id="password-holder" class="hidden">
            <div class="clearfix large_form one-half-form-left column-form">
                <label for="password">Password</label> <input id="password" name="password" type="password" placeholder="Password" data-validation="required" />
            </div>
            <div class="clearfix large_form large_form one-half-form-right  column-form">
                <label for="password_confirm">Confirm Password</label> <input id="password_confirm" name="password_confirm" type="text" placeholder="Confirm Password" data-validation="required" />
            </div>
        </div>
        <div class="clearfix large_form one-half-form-left  column-form">
            <label for="address1">Address</label> <input id="address1" name="address1" type="text" placeholder="Address" data-validation="required" />
        </div>
        <div class="clearfix large_form large_form one-half-form-right column-form">
            <label for="address2">Suburb</label> <input id="address2" name="address2" type="text" placeholder="Suburb" data-validation="required" />
        </div>
        <div class="clearfix large_form one-half-form-left column-form">
            <label for="address3">City</label> <input id="address3" name="address3" type="text" placeholder="City" data-validation="required" />
        </div>
        <div class="clearfix large_form large_form one-half-form-right column-form">
            <label for="postcode">Post Code</label> <input id="postcode" name="postcode" type="text" placeholder="Post Code" data-validation="required" />
        </div>
        <div class="clearfix large_form one-half-form-left column-form">
            <label>Donation Amounts</label>
            <select id="donation_amount" name="amount">
                <option value="">Please Choose</option>
                <option value="5">$5.00</option>
                <option value="25">$25.00</option>
                <option value="50">$50.00</option>
                <option value="150">$150.00</option>
                <option value="300">$300.00</option>
            </select>
            <input id="custom_amount" name="custom_amount" type="text" placeholder="Minimum $5.00" style="display:none;" />
            * please note it costs $5 to set up a TaxPayers' Union account.
        </div>
        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" name="repeat" type="checkbox"> I'd like to donate monthly
            </label>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $.validate(); 
            $('#donation_amount').on('change', function () {
            var $dd = $(this, ':selected');
            if($dd.val() === '0') {
                $('#custom_amount').show();
            } else {
                $('#custom_amount').val('');
                $('#custom_amount').hide(); 
            }

        });
</script>