<form class="pure-form pure-form-stacked" action="/donations" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="first_name">First Name</label>
            <input id="first_name" name="first_name" type="text" placeholder="First Name">
        </div>
        <div class="pure-control-group">
            <label for="last_name">Last Name</label>
            <input id="last_name" name="last_name" type="text" placeholder="Last Name">
        </div>
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" name="email" type="email" placeholder="Email Address">
        </div>
        <div class="pure-control-group">
            <label for="address1">Address</label>
            <input id="address1" name="address1" type="text" placeholder="Address">
        </div>
        <div class="pure-control-group">
            <label for="address2">Address</label>
            <input id="address2" name="address2" type="text" placeholder="Address">
        </div>
        <div class="pure-control-group">
            <label for="address3">Address</label>
            <input id="address3" name="address3" type="text" placeholder="Address">
        </div>
<div class="clearfix large_form"><label for="postcode">Post Code</label> <input id="postcode" name="postcode" type="text" placeholder="Post Code" /></div>
<div class="clearfix large_form"><label>Donation Amounts</label><select id="donation" name="amount">
<option value="">Please Choose</option>
<option value="5">$5.00</option>
<option value="25">$25.00</option>
<option value="50">$50.00</option>
<option value="150">$150.00</option>
<option value="300">$300.00</option>
</select><input id="custom_amount" name="custom_amount" type="text" placeholder="Minimum $5.00" /></div>
<div class="clearfix large_form"><label for="cb" class="pure-checkbox"> <input id="cb" name="repeat" type="checkbox" /> I'd like to donate this amount monthly </label></div>
<div class="clearfix large_form"><label for="public" class="pure-checkbox"> <input id="join" name="join" type="checkbox" /> I would like to join the Taxpayers’ Union </label></div>

        <div class="pure-controls">
            <label>
                Please note that though the Taxpayers’ Union is not a charity your donation may be tax deductible as a business expense.
            </label>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>