.product-listing {
    inherit: .pure-u-1;
}

@media screen and (min-width: 35.5em) {
   .product-listing {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
        width: 50%;
    } 
}

@media screen and (min-width: 48em) { 
    .product-listing {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
        width: 33.3333%;
    }
}
.product-listing img {
    max-width:200px;
}